<ion-header>
  <ion-toolbar>
    <ion-title>People</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <!-- PEOPLE LIST CONTENT -->
  <app-peoplelist *ngFor="let ppl of getPerson()" [ppl]="ppl" (onDelete)="onDeletePerson($event)" (onEdit)="onEditPerson($event)"></app-peoplelist>
</ion-content>

<!-- BUTTON RIGHT BOTTOM TO ADD -->
<ion-button (click)="onNewPerson()" slot="start" icon-only color="tertiary"><ion-icon style="zoom:2" name="add-outline"></ion-icon></ion-button>