<ion-header>
  <ion-toolbar>
    <ion-title>Personal Data</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        Name
      </ion-label>
      <ion-input type="text" placeholder="Introduce your name" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Surname
      </ion-label>
      <ion-input type="text" placeholder="Introduce your surname" formControlName="surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Sex
      </ion-label>
      <ion-input type="text" placeholder="Introduce your sex (optional)" formControlName="sex"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Phone
      </ion-label>
      <ion-input type="text" placeholder="Introduce your phone number (optional)" formControlName="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        Picture
      </ion-label>
      <ion-input type="text" placeholder="Introduce your profile picture URL (optional)" formControlName="picture"></ion-input>
    </ion-item>
    <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modificar":"Añadir"}}</ion-button>
  </form>
</ion-content>