<ion-header>
  <ion-toolbar>
    <ion-title><p translate [translateParams]="{ language: language }">people.title</p></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ language: language }">
        people.name
      </ion-label>
      <ion-input type="text" [placeholder]='"people.iname" | translate' formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ language: language }">
        people.surname
      </ion-label>
      <ion-input type="text"  [placeholder]='"people.isurname" | translate' formControlName="surname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ language: language }">
        people.sex
      </ion-label>
      <ion-input type="text"  [placeholder]='"people.isex" | translate' formControlName="sex"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ language: language }">
        people.phone
      </ion-label>
      <ion-input type="text" [placeholder]='"people.iphone" | translate' formControlName="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" translate [translateParams]="{ language: language }">
        people.picture
      </ion-label>
      <ion-input type="text"  [placeholder]='"people.ipicture" | translate' formControlName="picture"></ion-input>
    </ion-item>
    <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modify":"Add"}}</ion-button>
  </form>
</ion-content>