<ion-header>
  <ion-toolbar>
    <ion-title><p translate [translateParams]="{ language: language }">task.title</p></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
    <ion-item>
      <ion-label position="floating">
        <p translate [translateParams]="{ language: language }">task.name</p>
      </ion-label>
      <ion-input type="text" [placeholder]='"task.iname" | translate' formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <p translate [translateParams]="{ language: language }">task.description</p>
      </ion-label>
      <ion-input type="text"[placeholder]='"people.idescription" | translate' formControlName="description">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">
        <p translate [translateParams]="{ language: language }">task.picture</p>
      </ion-label>
      <ion-input type="text" [placeholder]='"people.ipicture" | translate' formControlName="picture">
      </ion-input>
    </ion-item>
    <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit"?"Modify":"Add"}}</ion-button>
  </form>
</ion-content>