<ion-item>
  <ion-avatar>
    <img *ngIf="!ppl.picture" alt="Default person picture" src="../../../assets/images/user-96.png"/>
    <img *ngIf="ppl.picture" alt="Custom person picture" [src]="ppl.picture" />
  </ion-avatar>
  <ion-label>{{ppl.surname}}, {{ppl.name}} <br><ion-text color="medium">{{ppl.phone}}</ion-text></ion-label>
  <ion-button icon-only fill="clear" (click)="onEditClick()"><ion-icon style="zoom:1.5" name="ellipsis-horizontal-circle-outline" ></ion-icon></ion-button>
  <ion-button icon-only fill="clear" color="danger" (click)="onDeleteClick()"><ion-icon style="zoom:1.5" name="close-circle-outline" ></ion-icon></ion-button>
</ion-item>
