// MAKE PRIMARY COLOR SELECTED ITEM:
ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.25);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
//