<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Taskr App
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-content>
      <ion-card>
        <ion-card-content>
          <p translate [translateParams]="{ language: language }">home.title</p>
          <p translate [translateParams]="{ language: language }">home.invite</p>
          <ion-item>
            <ion-select [(ngModel)]='language' (ionChange)='languageChange()'
              [placeholder]='"home.languageChangePlaceholder" | translate'>
              <ion-select-option value='en'>English</ion-select-option>
              <ion-select-option value='es'>Español</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-content>

</ion-content>